/*shamika*/
.title{
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    margin: 0px 8px auto;
    width:80%;
}
.navibar{
    background-color: #0b5ed7 !important;
}
.footrtext{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #636363;
}
.footer{
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.boldtext{
    font-weight: 600 !important;
}
.weltext{
    font-size: 15px;
    color: #747474;
    font-weight: 600;
}

