/*shamika*/
.title{
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    margin: 0px 8px auto;
    width:80%;
}
.navibar{
    background-color: #0b5ed7 !important;
}
.footrtext{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #636363;
}
.footer{
    padding: 8px;
    bottom: 0;
    width: 100%;
}
.boldtext{
    font-weight: 600 !important;
}
.weltext{
    font-size: 15px;
    color: #747474;
    font-weight: 600;
}
.nav-item:hover{
    font-weight: 600;
}
.printbox{
    text-align: center;
    margin-top: -30px;
}
.printlogo{
    width: 80%;
    padding-bottom: 10px;
}
.printtitle{
    font-size: 21px;
    font-weight: 600;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
}
.printtable{
    font-size: 13px;
}
.space10{
    padding-top: 10px;
}
.reun a {
    text-decoration: none !important;
}
.alignrigt{
    text-align: right !important;
}